html {
    font-family: "Lato", sans-serif;
    --primary-color: #222;
    --orange: #EB5E28;
    --grey: #403D39;
    --white: #FFFCF2;
    --brudas: #CCC5B9;
    word-wrap: break-word;
    margin: 0;
    overflow-x: hidden;
}
.c-account-banner{
    margin-top:60px;
    text-align: center;
}
.c-account-banner__subtitle{
    font-size: 20px;
    line-height: 32px;
    color: rgb(77, 77, 77);
    font-weight: normal;
    text-decoration: none;
}
.c-account-body{
    margin-top:40px;
}
.c-account-forms{
    display: flex;
    justify-content: center;
}
.c-account-forms__form-input{
    position: relative;
    margin-top:8px;
    max-width:450px;
    width:450px;
    border-radius:24px;
}
.c-account-forms__form-input:focus{
    border-color:var(--orange);
}
.c-account-forms__form-button-container{
    display: flex;
    justify-content: space-between;
}
.c-account-forms__form-button{
border-radius: 512px;
border: none;
white-space: nowrap;
height: 40px;
padding: 0px 8px;
background: var(--orange);
display: flex;
justify-content: center;
flex-direction: row;
margin-left: 4px;
font-size: 14px;
line-height: 20px;
color: rgb(255, 255, 255);
font-weight: normal;
text-decoration: none;
display: flex;
align-items: center;
}
.c-account-forms__form-button:hover{
    background: #a1421c;
}

.form-group-password-block{
display: flex;
align-items: center;
justify-content: flex-end;
}

#togglePassword{
    margin-top: 16px;
    margin-right: 8px;
    color: rgb(77, 77, 77);
    position: absolute;
}
#togglePassword_new{
    margin-top: 16px;
    margin-right: 8px;
    color: rgb(77, 77, 77);
    position: absolute;
}
#togglePassword_newSND{
    margin-top: 16px;
    margin-right: 8px;
    color: rgb(77, 77, 77);
    position: absolute;
}
.c-account-forms-password-changer{
    font-size: 16px;
    line-height: 32px;
    color: rgb(77, 77, 77);
    font-weight: normal;
    text-decoration: none;
    margin-top:14px;
}
.c-account-forms-password-changer:hover{
    color:var(--orange);
    transition: color 100ms ease-in-out;
}
.c-account-modal__title{

}
.modal-body-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;

}
.c-account-modal-wrapper{
    display: flex;
    justify-content: flex-end;
}
.c-account-passMeter-container{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
align-items: center;
margin-bottom:15px;
}
#alert{
    visibility: hidden;
    color: var(--grey);
}
@media only screen and (max-width: 500px) {
.c-account-forms__form-input{
    max-width:250px;
}
}