html {
    font-family: "Lato", sans-serif;
    --primary-color: #222;
    --orange: #EB5E28;
    --grey: #403D39;
    --white: #FFFCF2;
    --brudas: #CCC5B9;
    word-wrap: break-word;
    margin: 0;
}

.c-input {
    background: none;
    border: none;
    width: 100%;
    color: var(--primary-color);
}

.c-input:focus {
    outline: none;
}

.c-form {
    width: 20vw;
    margin: auto;
    margin-right: 20px;
    color: var(--primary-color);
    float: left;
}

.c-fieldset {
    width: auto;
    border-style: solid;
    border-radius: 15px;
    border-color: var(--orange);
}

.c-input-submit {
    border-style: solid;
    position: relative;
    left: 75%;
    width: 25%;
    background: none;
    border-color: var(--orange);
    border-radius: 15px;
    color: var(--orange);
    font-weight: bold;
}

.c-input-submit:hover {
    background: var(--orange);
    color: var(--white);
    border-color: var(--orange);
}

.c-forms {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
}

.c-login{
    display: block;
}

.c-register{
    visibility: hidden;
}

.c-buttons{
    width: 50%;
    float: left;
    background: none;
    border:none;
    border-bottom: solid 1px var(--orange);
    color: var(--orange);
    font-weight: bold;
    font-size: 15px;
}