
html {
    font-family: "Lato", sans-serif;
    --primary-color: #222;
    --orange: #EB5E28;
    --grey:#403D39;
    --white:#FFFCF2;
    --brudas:#CCC5B9;
    word-wrap: break-word;
}
.c-input {
    background: none;
    border: none;
    width: 100%;
    color:white;
}
.c-input:focus {
    outline: none;
}
.c-form {
    width: 20vw;
    margin: auto;
    color: white;
}
.c-fieldset{
    width: auto;
    border-radius: 15px;
    color: white;
}
.c-input-submit{
    border-style:solid;
    position: relative;
    left: 75%;
    width: 25%;
    background: none;
    border-color: yellow;
    border-radius: 15px;
    color: yellow;
    font-weight: bold;
}
.c-input-submit:hover{
    background: yellow;
    color: #202124;
    border-color: yellow;
}