html {
    font-family: "Lato", sans-serif;
    --primary-color: #222;
    --orange: #EB5E28;
    --grey: #403D39;
    --white: #FFFCF2;
    --brudas: #CCC5B9;
    word-wrap: break-word;
    margin: 0;
    overflow-x: hidden;
}
body{
    padding: 0px !important;;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    color: #222222;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #222222 transparent;
}


/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 14px;
    border: 3px solid #ffffff;
}

ul {
    list-style-type: none;
}

.o-wrapper {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.o-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 12px;
    padding-bottom: 10px;
}
.o-notFound-image{
    width: 50px;
    height:50px;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 27%;
        animation-name: jump;
    
    
    
}
.o-none{
    border:none;
    height:auto;
    background-color: white;
}
input{
    font-family: 'Lato';
}
@keyframes jump {
    from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    }
    
    40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    }
    
    70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    }
    
    90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
    }
    }
    
    .jump {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    }
    

.o-sideBySide {
    display: flex;
    margin-top: 100px;
}

@media only screen and (max-width: 992px) {
    .o-wrapper {
        padding: 0 16px;
    }
}

@media only screen and (max-width: 700px) {
    .o-sideBySide {
        display: block;
    }
}

.c-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
}

.c-header_wrapper {
    position: absolute;
    z-index: 10000;
    width: 100%;
}

.c-header__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--primary-color);
    padding: 10px;
    height: 50px;
}
.o-hamburger {
    display: none;
    height: 33px;
    cursor: pointer;
    position: relative;
    width: 30px;
}

.o-hamburger__bar {
    height: 3px;
    width: 30px;
    position: absolute;
    right: 0;
    background-color: #000;
}

.o-hamburger__bar--first {
    top: 6px;
}

.o-hamburger__bar--second {
    top: 15px;
}

.o-hamburger__bar--third {
    top: 24px;
}

.wrap {
    width: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    justify-content: center;
    align-items: center;
    padding: 32px;
    position: fixed;
    inset: 0px;
    background-color: rgb(0, 0, 0);
    will-change: opacity;
    opacity: 0.64;
}

.o-hamburger.is-active {
    z-index: 1000;
}

.o-hamburger .o-hamburger__bar--first {
    top: 6px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.o-hamburger .o-hamburger__bar--second {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.o-hamburger .o-hamburger__bar--third {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.o-hamburger.is-active .o-hamburger__bar--first {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.o-hamburger.is-active .o-hamburger__bar--second {
    width: 0%;
    opacity: 0;
}

.o-hamburger.is-active .o-hamburger__bar--third {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    left: 7px;
}

/* .c-banner-slider .c-banner-slider__item {
    float: left;
    height: 40vh;
} */

/* .c-banner-slider__item {
    width: 100%;
    height:100%;
    max-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    border-radius: 15px;
} */

@media only screen and (max-width: 700px) {
    .c-small-gallery {
        display: flex;
        margin-bottom: 15px;
    }
}

.c-footer {
    margin-top: 35px;
    background-color: #cfcfcf;
}

.c-footer__wrapper {
    display: flex;
    justify-content: flex-start;
    background: var(--primary-color);
    padding-top: 10px;
}

.c-footer__wrapper-title {
    font-weight: bold;
    display: block;
    bottom: 10%;
    border-bottom: 1px solid #000;
}

.c-footer__wrapper-category {
    padding-right: 10px;
}

.c-small-gallery-container-decor {
    transform: translateY(-100%);
    position: absolute;
    height: 108px;
    width: 110px;
    background-repeat: no-repeat;
    margin-left: 225px;
}
a {
    color: inherit;
    text-decoration: none;
}


.c-text__basket {
    margin-top: 90px;
}

.c-gallery {
    margin-top: 30px;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
}

.c-gallery:hover {
    border: 1px solid #777;
}

.c-gallery img {
    mix-blend-mode: screen;
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.c-gallery img:hover {
    opacity: 0.6;
}

.c-gallery-image-description {
    padding: 15px;
    text-align: center;
    word-break: break-all;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 800px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.c-gallery-extended-container {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.close-button {
    mix-blend-mode: difference;
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

#expandedImg {
    height: auto;
    max-width: 100%;
    max-height: 70vh;
}

@media only screen and (max-width: 500px) {
    #expandedImg {
        height: auto;
        max-width: 100%;
        max-height: 90vh;
    }
}

@media only screen and (max-width: 800px) {
    .c-shop-responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .c-shop-responsive {
        width: 100%;
    }
}

.c-footer__wrapper-title-content {
    padding-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    .c-footer__wrapper {
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .c-informations-content {
        display: block;
    }
    .c-informations-content-text {
        width: 100%;
        margin-left: 0px;
    }
    .c-informations-content-text-top {
        padding-right: 0px;
    }
    .c-informations-content-photo {
        width: 100%;
        padding-top: 25px;
    }
    .c-informations-content-map {
        width: 100%;
    }
    .map {
        height: 300px;
    }
}

.c-product-content__photo-container {
    position: relative;
    border-color: var(--primary-color);
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    height: 400px;
    width: 300px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.c-product-content__photo img {
    height: 400px;
    width: 300px;
    object-fit: contain;
}

.c-product {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
}

.c-product-extended-container {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.c-product-content__text {
    width: auto;
    height: auto;
}

.c-product-content {
    display: flex;
    margin-bottom: 40px;
}

.mainImage {
    max-height: 100%;
    max-width: 300px;
}

@media only screen and (max-width: 800px) {
    .c-product {
        display: block;
    }
    .c-product-content__text {
        width: 100%;
    }
    .c-product-content__photo img {
        height: 400px;
        width: 100%;
    }
    .c-product-content {
        display: block;
    }
    .c-product-content__photo-container {
        width: 100%;
        height: 150%;
    }
    .mainImage {
        max-width: 100%;
        max-height: 150%;
    }
}

.c-product-content__button {
    font-family: 'Quicksand', sans-serif;
    color: #000;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    display: flex;
    transition-duration: 0.4s;
    border-radius: 25px;
    border-color: var(--primary-color);
    margin-top: 10px;
    position: absolute;
    right: 16px;
}

.c-product-content__button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.c-product-content__text-container {
    padding-bottom: 50px;
}

.smallImgStyle {
    max-height: 100%;
    max-width: 32%;
}

.mainImage {
    max-height: 100%;
    max-width: 300px;
}

@media only screen and (max-width: 800px) {
    .mainImage {
        max-width: 100%;
        max-height: 100vh;
    }
}

@media only screen and (max-width: 500px) {
    .mainImage {
        max-width: 100%;
        max-height: none;
    }
    .c-product-content__photo-container {
        max-height: 100%;
    }
}

.c-product-content__photo-container__buffer {
    height: 75%;
}

#smallPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.c-modal-button:hover{
    color:white;
}
a.o-href{
    color:white;
}

.fade-in {
	-webkit-animation: fade-in 200ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 200ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .credit{
      display: none!important;
  }
  #cookie-btn{
      background-color: #EB5E28!important;
  }
  