html {
    font-family: "Lato", sans-serif;
    --primary-color: #222;
    --orange: #EB5E28;
    --grey:#403D39;
    --white:#FFFCF2;
    --brudas:#CCC5B9;
    word-wrap: break-word;
    margin:0;
}

.c-categoryProducts{
    margin-top:24px;

}

.c-categoryProducts-list-element{
    font-size: 13px;
    line-height: 1.1;
    padding: 6px;
    text-decoration: none;
    -moz-transition: 150ms all ease-in-out;
    -o-transition: 150ms all ease-in-out;
    -webkit-transition: 150ms all ease-in-out;
    transition: 15ms all ease-in-out;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    outline: none !important;
    color: var(--primary-color);
    position: relative;
}
.c-categoryProduct-fitter{
top: 50px;
}

.c-categoryProducts-changer-container{
    width:100%;

}
.c-categoryProducts-changer{
-webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left:-16px;
    margin-right: -16px;
}
.c-categoryProducts-changer-container{
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: justify;
justify-content: space-between;
margin: 0px -16px;
}

.c-categoryProducts-changer-buttons-tiles{
    overflow: hidden;
    height: 32px;
    width: 32px;
    padding: 0px;
    display: inline-block;

}
.c-categoryProducts-changer-buttons-list{
    overflow: hidden;
    height: 32px;
    width: 32px;
    padding: 0px;
    display: inline-block;
}
.button-tiles{border:none;}
.button-list{border:none;}

button:disabled {
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
}

.c-categoryProducts-changer{
    display: flex;
    margin: auto;
    margin-left:16px;

}
.c-categoryProducts-changer-per-page{
    display: flex;
}
.c-categoryProducts-changer-per-page__select{
    border-radius:12px;
    border-color: var(--primary-color);
    min-width:70px;
    text-align: left;
}
.c-categoryProducts-changer-per-page__select-filters{
font-size: 14px;
line-height: 20px;
color: rgb(112, 112, 112);
font-weight: normal;
text-decoration: none;
margin-left: 8px;
display: none;

}
@media(max-width:992px){
    .c-categoryProducts-changer-per-page__select-filters{
        display:block;
    }
}
.c-categoryProducts-changer-per-page__select-filters__button{

    border:1px solid var(--primary-color);
    border-radius:5px;
}
.c-categoryProducts-changer-buttons{
    display: flex;
    align-items: center;
}
.c-categoryProducts-changer-per-page__select-label{
    font-size: 14px;
    line-height: 20px;
    color: rgb(112, 112, 112);
    font-weight: normal;
    text-decoration: none;
    margin-left: 8px;
}
.button-tiles:disabled{
    fill: rgb(77, 77, 77);
}
.button-tiles{
     fill: rgb(204, 204, 204);
    fill-rule: evenodd;
}
.button-list:disabled{
    fill: rgb(77, 77, 77);
}
.button-list{
     fill: rgb(204, 204, 204);
    fill-rule: evenodd;
}
.button-list:enabled:hover{
    fill: rgb(133, 132, 132);
}
.button-tiles:enabled:hover{
    fill: rgb(133, 132, 132);
}
.c-categoryProduct-filters__header{
    display: flex;
}
#category-products{
    opacity: 0;
}
.c-categoryProducts-changer-per-page__select{
    background-color: white;
}
#category-products{
    opacity: 1;
}