html {
    font-family: "Lato", sans-serif;
    --primary-color: #222;
    --orange: #EB5E28;
    --grey:#403D39;
    --white:#FFFCF2;
    --brudas:#CCC5B9;

    word-wrap: break-word;
}
    
    .footer-wrapper {
        display: flex;
        margin-bottom: 25px;
    }
    
    .footer-symbols {
        width: 50%;
        text-align: right;
    }
    
    .footer-title {
        display: flex;
        width: 50%;
    }
    
    footer {
        padding-top: 24px;
        margin-top: 84px;
        background-color: var(--orange);
        color: var(--primary-color);
    }
    
    .footer-body {
        text-align: left;
    }
    
    .row {
        padding-bottom: 50px;
    }
    
    .footer-sub__title {
        margin-bottom: 10px;
    }
    
    .footer__link {
        padding-bottom: 5px;
    }
    
    @media(max-width:1000px) {
        footer {
            display: block;
        }
        .footer-responsive {
            display: flex;
            margin-bottom: 10px;
        }
        .footer-col {
            width: 50%;
        }
    }
    a:hover{
        color:var(--orange);
    }
    footer a:hover{
    color: var(--brudas);
    }