.c-product-tile {
    
}

.c-product-tile__thumbnail {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    padding-bottom: 42%;
    width: 100%;
}

.c-product-tile__category {
    
}

.c-product-tile__name {
    
}

.c-product-tile__price {
    
}
