.me-5 .d-none .d-lg-block {
    width: 50%;
}

.footer-symbols {
    width: 50%;
    text-align: right;
}

.d-flex .justify-content-center .justify-content-lg-between .p-4 .border-bottom {
    display: flex;
}