html {
    font-family: "Lato", sans-serif;
    --primary-color: #222;
    --orange: #EB5E28;
    --grey:#403D39;
    --white:#FFFCF2;
    --brudas:#CCC5B9;
    word-wrap: break-word;
}
.c-categoryProducts-list{
    display: flex;
}
.c-categoryProducts-list:hover .c-product-title__button {
    opacity:1;
}
.c-categoryProducts-list__content{  
    padding-left: 24px;
    width:100%;
    display: flex;
    }
.c-categoryProducts-list__thumbnail{
    margin-top:18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    width: 100%;
    max-width: 240px;
    max-height: 200px;
    transform: translate(0%, 0%);
    margin-left:24px;
}
.c-categoryProducts-list:hover{
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 8%) 0px 0px 2px 1px;
}
.c-categoryProducts-list__name{
    font-size: 14px;
    line-height: 20px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-decoration: none;
    white-space: normal;
    max-height:40px;
}
.c-categoryProducts-list{
    margin:0;
    padding: 0;
    padding: 24px 16px;
    width:100%;
}
.c-categoryProducts-list__name-span{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    visibility: visible;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.c-categoryProducts-list__inside{
    display: flex;
    width: 100%;
}

.c-categoryProducts-list__description{
    margin-top:12px;
}
.c-categoryProducts-list__description-element{
padding-bottom: 4px;
font-size: 12px;
line-height: 16px;
color: rgb(77, 77, 77);
font-weight: normal;
text-decoration: none;
overflow: hidden;
white-space: nowrap;

display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    visibility: visible;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.c-categoryProducts-list__price{
    white-space: nowrap;
    font-size: 18px;
    line-height: 24px;
    color: rgb(26, 26, 26);
    font-weight: normal;
    text-decoration: none;


}
.c-categoryProducts-list__price-container{
    -webkit-box-align: center;
    align-items: center;
    min-height: 52px;
    text-align: right;
}
.c-categoryProducts-list__button-container{
     margin-top: 60%;
     display: flex;
     align-items: center;
     justify-content: flex-end;
}
.c-categoryProducts-list__name-container{
    width:100%;
}
@media (max-width: 700px){
    .c-categoryProducts-list__thumbnail{

    }
}
@media (max-width: 700px){
.c-categoryProducts-list__button-container{
    margin-top:0;
}
.c-categoryProducts-list__thumbnail {
    margin-left:0;
}
.c-categoryProducts-list__content{
    display:block;
}
.c-categoryProducts-list__price-container{
    text-align: left;
    margin-top:10px;
}
}