html {
    font-family: "Lato", sans-serif;
    --primary-color: #222;
    --orange: #EB5E28;
    --grey:#403D39;
    --white:#FFFCF2;
    --brudas:#CCC5B9;
    word-wrap: break-word;
}
.c-category-tile {
    margin-top: 24px;
    transition: box-shadow 0.1s ease-in-out;
    border: solid;
    border-radius: 12px;
    border-width: 1px;
    border-color:var(--white);
    transition: all 500ms ease;
    height:224px;

}
.c-category-tile__thumbnail {
    margin-top:18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    padding-bottom: 42%;
    width: 100%;
}

.c-category-tile__content {
    text-align: center;
    padding: 0px 0px 20px 0px;
    padding-top: 24px;
}

.c-category-tile__name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.c-category-tile__past-hover{
    position: absolute;
    width: 100%;
    left: 0px;
    padding: 8px 0px 16px;
    background: rgb(255, 255, 255);
    flex-direction: column;
    display: none;
    z-index: 3;
    transition: all 300ms ease-in-out;
    padding: 4px 10px;
    border-bottom:solid 1px var(--white);
    border-left:solid 1px  var(--white);
    border-right:solid 1px  var(--white);
    border-bottom: solid 1px  var(--grey);
    top:210px;
}

.c-category-tile:hover .c-category-tile__past-hover{
    display:block;
}

.c-category-tile__past-hover-list-element{
    font-size: 13px;
    line-height: 1.1;
    padding: 8px;
    text-decoration: none;
    -moz-transition: 150ms all ease-in-out;
    -o-transition: 150ms all ease-in-out;
    -webkit-transition: 150ms all ease-in-out;
    transition: 15ms all ease-in-out;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    outline: none !important;
    color: var(--primary-color);
    position: relative;
    height:28px; 
}
.c-category-tile__past-hover-list-element:hover {
    color:var(--orange);
    top:-4px;
    border-bottom: solid 2px var(--orange);
    transition: border-width 50ms linear;

    
}
.c-category-tile__past-list{
    height:calc(100%+2px);
}