html {
    font-family: "Lato", sans-serif;
    --primary-color: #222;
    --orange: #EB5E28;
    --grey:#403D39;
    --white:#FFFCF2;
    --brudas:#CCC5B9;
    word-wrap: break-word;
}

.c-product-tile:hover .c-product-title__button {
    opacity:1;
}
.c-categoryProducts-list-text__container{}
