html {
    font-family: "Lato", sans-serif;
    --primary-color: #222;
    --orange: #EB5E28;
    --grey:#403D39;
    --white:#FFFCF2;
    --brudas:#CCC5B9;
    word-wrap: break-word;
}

.c-categoryProducts-tile:hover .c-product-title__button {
    opacity:1;
}
.c-categoryProducts-tile__thumbnail{
    margin-top:18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    padding-bottom: 42%;
    width: 100%;
    max-width: 240px;
    max-height: 200px;
    transform: translate(0%, 0%);
    top: 50%;
    left: 50%;
    margin: auto;
}
.c-categoryProducts-tile:hover{
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 8%) 0px 0px 2px 1px;
}
.c-categoryProducts-tile__name{
    font-size: 14px;
    line-height: 20px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-decoration: none;
    white-space: normal;
    margin-top: 8px;
    max-height:40px;
}
.c-categoryProducts-tile{
    height:442px;
    margin:0;
    padding: 0;
    position: relative;
    padding-left:16px;
    padding-right:16px;
}
@media (max-width: 1200px){
    .c-categoryProducts-tile{
        height:400px;
    }
}
@media (max-width:768px){
    .c-categoryProducts-tile{
        height:500px;
    }
}
.c-categoryProducts-tile__name-span{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    visibility: visible;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.c-categoryProducts-tile__inside{
    height:100%;
    padding: 16px 0px 0px;

}
@media (min-width: 992px){
.c-categoryProducts-tile__inside{
    padding: 36px 0px 0px;
}

}
.c-categoryProducts-tile__description{
    margin-top:12px;
}
.c-categoryProducts-tile__description-element{
padding-bottom: 4px;
font-size: 12px;
line-height: 16px;
color: rgb(77, 77, 77);
font-weight: normal;
text-decoration: none;
width: 100%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.c-categoryProducts-tile__price{
    white-space: nowrap;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    color: rgb(26, 26, 26);
    font-weight: normal;
    text-decoration: none;


}
.c-categoryProducts-tile__price-container{
    display: flex;
    padding-top:0px;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
    padding-top: 20px;
    min-height: 52px;
    position: absolute;
    bottom:16px;
}
.c-categoryProducts-tile__button-container{
   position: absolute;
   right: 36px;

}
.c-categoryProducts-tile__contet{  
padding-left: 24px;
}