html {
    font-family: "Lato", sans-serif;
    --primary-color: #222;
    --orange: #EB5E28;
    --grey:#403D39;
    --white:#FFFCF2;
    --brudas:#CCC5B9;
    word-wrap: break-word;
}
.c-breadcrumbs-container{
    margin-top:24px;
}
.breadcrumb{
    background-color: white!important;
    margin-bottom:0px!important;
    padding-left: 0px!important;
}
.c-breadcrum-element-new{
    color:var(--orange)!important;
}
.c-breadcrum-element-prev{
    color: rgb(112, 112, 112);
}

.c-breadcrum-element-prev:hover{
    color: var(--orange);
    transition:color 200ms ease-in-out;
}
.c-productPage-breadcrumbs-wrapper{
    padding-top: 60px;
}