html {
    font-family: "Lato", sans-serif;
    --primary-color: #222;
    --orange: #EB5E28;
    --grey:#403D39;
    --white:#FFFCF2;
    --brudas:#CCC5B9;
    word-wrap: break-word;
}
.c-basket-container__wrapper{
    display: inline-flex;
    padding-top: 100px;
}


.c-basket-container__title{
padding-top:0px!important;

    }

.c-basket-container__button{
    padding-bottom:10px;
    margin-top:12px;
    margin-left: 24px;
}

.c-basket-container__button-element{
border-radius: 512px;
    border: none;
    white-space: nowrap;
    width: 100%;
    height: 40px;
    padding: 0px 8px;
    background: var(--orange);
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 4px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.c-basket-container__button-element:hover{
    background: #a1421c;
}

.c-basket__modal-body{
    padding: 8px;
font-size: 14px;
line-height: 20px;
color: rgb(26, 26, 26);
font-weight: normal;
text-decoration: none;
margin-left: 10px
}

.c-basket-modal__button-clean{
    border-radius: 512px;
    border: none;
    white-space: nowrap;
    height: 40px;
    padding: 0px 8px;
    background: var(--orange);
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 4px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.c-basket-modal__button-clean:hover{
    background: #a1421c;
}
.c-basket-modal-footer{
    display: flex;
    justify-content: space-evenly;
}