html {
    font-family: "Lato", sans-serif;
    --primary-color: #222;
    --orange: #EB5E28;
    --grey:#403D39;
    --white:#FFFCF2;
    --brudas:#CCC5B9;
    word-wrap: break-word;
}
.c-productPage-container-name__title{
    font-size: 31px;
    padding-top: 100px;
    line-height: 40px;
    color: rgb(26, 26, 26);
    font-weight: normal;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    }
    @media (max-width: 900px){
    .c-productPage-container-name__title{
        margin: 0px;
        font-size: 18px;
        line-height: 24px;
        color: rgb(26, 26, 26);
        font-weight: normal;
        text-decoration: none;
        padding-top:0;
    }
}

.c-productPage-container-description{
    border-top: 1px solid rgb(221, 221, 221);
    padding-top: 12px;
    padding-bottom: 4px;
}
.c-productPage-container-content{
    margin-top:24px;
}
.c-productPage-list__description-element{
padding-bottom: 14px;
font-size: 13px;
line-height: 16px;
color: rgb(26, 26, 26);
font-weight: normal;
text-decoration: none;
}

.c-productPage-container-payment{
    border-top: 1px solid rgb(221, 221, 221);
}
.c-productPage-container-payment__price{
font-size: 26px;
line-height: 32px;
color: rgb(77, 77, 77);
font-weight: normal;
text-decoration: none;
}

.c-productPage-container-payment__button-element{
    border-radius: 512px;
    border: none;
    white-space: nowrap;
    width: 100%;
    height: 40px;
    padding: 0px 8px;
    background: var(--orange);
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 4px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-decoration: none;
}
.c-productPage-container-payment__button-element:hover{
    background: #a1421c;
}

.c-productPage-container-payment__button-container{
    display: flex;
}
.c-productPage-container-payment__select{
    margin-right:10px ;
}
@media(min-width:900px){
.c-productPage-container-payment__button-container{
    padding: 24px 16px 16px;
}
}

.c-productPage-container-payment__button-svg{
fill:white;
width:100%;
height:100%;
}
.c-productPage-container-payment__button-span{
    overflow: hidden;
    height: 24px;
    width: 24px;
    padding: 0px;
    display: inline-block;
}
.c-productPage-container-payment__button-text{
    display: flex;
    align-items: center;
    margin:auto;
}
.c-productPage-container-payment__select{
border-radius: 16px;
border-color: var(--primary-color);
width:auto;
max-width:53px;
height: 40px;
text-align: left;
}
    .c-productPage-container-payment__button{
        width:100%;

    }
@media(max-width:1000px){
.c-productPage-container{
margin-top:100px;
}
}
@media(max-width:900px){

    .c-productPage-container-payment__price{
        text-align: right;
    }
    .c-productPage-container-payment__button-container{
        margin-top:20px;
    }
    .c-productPage-container{
        margin-top:0px;
        }


}
.scrollSpecifications:hover{
    fill:var(--orange);
    background-color: var(--primary-color);
    border-radius:24px;
}
.c-productPage-container-description__button-specification{
    display: flex;
}

.c-productPage-container-description__button-specification-text{
    margin-left: 12px;
    color: var(--grey);
    font-weight: bold;
    text-decoration: none;
}




