html {
    font-family: "Lato", sans-serif;
    --primary-color: #222;
    --orange: #EB5E28;
    --grey:#403D39;
    --white:#FFFCF2;
    --brudas:#CCC5B9;
    word-wrap: break-word;
}

    
.c-categoryProduct-filter__title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    margin: 0px;
    hyphens: none;
    overflow-wrap: normal;
    margin-top:24px;
}
.c-categoryProduct-filter__checkbox-label{
    list-style-type: none;
    font-size: 13px;
    line-height: 20px;
    color: rgb(26, 26, 26);
    font-weight: normal;
    text-decoration: none; 
    margin-left:18px;
    margin-top: 4px;
    width:100%;
    overflow: hidden;
display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    visibility: visible;
    text-overflow: ellipsis;
}
.c-categoryProduct-filter__body{
    display: flex;
    align-items: center;
    margin-top:12px;
}
/* checkbox */
  input[type="checkbox"].c-categoryProduct-filter__checkbox{
    font-size: 10px;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 5.5em;
    height: 1.5em;
    background: rgb(201, 201, 201);
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    }
    
    input[type="checkbox"].c-categoryProduct-filter__checkbox:checked{
    background: var(--orange);
    }
    
    input[type="checkbox"].c-categoryProduct-filter__checkbox:after{
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
            box-shadow: 0 0 .25em rgba(0,0,0,.3);
    -webkit-transform: scale(.7);
            transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    }
    
    input[type="checkbox"].c-categoryProduct-filter__checkbox:checked:after{
    left: calc(100% - 1.5em);
    }
    .c-categoryProduct-filter-elements-container{
        margin-left:18px;
    }
    .c-categoryProduct-filters__container{
        display: flex;
        height: 100vh;
    }


    .c-categoryProduct-filters__header-exit{
        display: inline-flex;
        right: 10px;
        position: absolute;
        cursor:pointer;
    }
     @media only screen  and (min-width:992px){
        .c-categoryProduct-filters__header-exit{
            display:none;
        }
        
    } 

    @media only screen  and (max-width:992px){
        .c-categoryProduct-filters__container{
            position: fixed;
            left: 0;
            background-color: white;
            z-index: 1000;
            top: 0;
            width: 60vw;
            overflow: scroll;
            display: none;
           height: 100vh;
  }
      
    } 
    .c-categoryProduct-filters{
    height: auto;
    }